body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
    text-align: center;
}

.detail-pedido {
  margin-top: 20px;
  font-size: 16px;
}

.detail-pedido .title {
  font-weight: bold;
}

.en-espera {
  background-color: red;
}

.en-tienda {
  background-color: yellow;
}

.en_ruta {
  background-color: blue;
}

.entregado {
  background-color: green;
}
